.input{
    padding: 10px;
    color: pink;
}

.button{
    padding: 10px;
    background-color: pink;
}

.ab, .eb, .rb{
    padding: 5px;
    background-color: white;
    margin: 10px;
    border-radius: 12px;
}

.Hop{
    padding: 10px;
    background-color: #f3f3f3;
}
